.buy-ticket {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  align-items: center;
  background-color: #f8f9fa;
  padding: 3rem;
  border-radius: 4px;
}
.buy-ticket h5 {
  font-size: 32px;
  color: #333339cc;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.buy-ticket button,
button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  position: relative;
}

.buy-ticket button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "GLITCH";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.buy-ticket button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.buy-ticket button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.buy-ticket button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

/* confirm */
.confirm-content {
  display: flex;
  justify-content: space-between;
}
.confirm-ticket {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}
.confirm-ticket img {
  max-width: 19rem;
}
.card-body {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.seat-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 40rem;
  top: 16rem;
}
.seat-count ul {
  display: flex;
  gap: 1rem;
}
.seat-count ul li {
  list-style: none;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  display: none;
}
.active-window {
  display: block;
}

/* confirm 2 */
.confirm-div {
  background-image: url("../../assets/home/event-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 40rem;
}
.confirm-overlay {
  background-color: rgba(19, 16, 43, 0.72);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.event-heading{
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 1rem;
}
.event-heading h1{
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 14rem;
}
.ticket-booking {
  background-color: #f4f4f4;
  position: relative;
  top: 23rem;
  /* width: 78rem; */
  /* left: 5rem; */
  left: 7%;
  margin-right: 14%;
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  border-radius: 7px;
}
.common-booking{
  display: grid;
    gap: 1.5rem;
}
.common-booking i{
  font-size: 40px;
  color: #161631;
  opacity: .2;
}
/* .ticket-booking .common-booking .span{
  color: #000;
} */


/* button styles */
.booking-price button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
 }
 
 .booking-price button ::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .booking-price button:hover ::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .booking-price button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
.booking-price  button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
 
/* for mobile */
@media only screen and (max-width: 913px) {
  .buy-ticket {
    display: grid;
    gap: 3rem;
    text-align: center;
  }
  .confirm-div{
    display: grid;
    justify-content: center;
  }
  .ticket-booking {
    display: grid;
    width: 19.5rem;
    left: 0rem;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
    text-align: center;
  }.common-booking{
    gap: 1rem;
  }
}
