/* SignUp.css */
.sign-up-container {
    text-align: center;
    width: 50%; /* Default width for larger screens */
  }
  .sign-up .error-message{
    color: #e01414;
  }
  .sign-up .pass-input{
    color: #e01414;
  }
  .sign-up .button-error{
    opacity: 0.7;
  }
  @media (max-width: 768px) {
    .sign-up-container {
      width: 100% !important; /* Adjusting width for mobile devices */
    }
  }
  
  /* for loading animation */
  .sign-up-loader {
    margin: 8% auto;
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .sign-up-loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .sign-up-loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .sign-up-loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .sign-up-loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .sign-up-loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }