.App {
  padding: 1rem 3rem 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ebf0fa;
}



@media only screen and (max-width: 760px) {
  .App {
    min-width: 21rem;
    padding: 1rem;
  }
}
