.scroll-to-top {
    width: 45px;
    height: 45px;
    /* background: linear-gradient(#44ea76, #39fad7); */
    background: linear-gradient(#ee5858, #423a3a);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    border: none;
    top: 89%;
    position: fixed;
    right: 4%;
  }
  
  .scroll-arrow path {
    fill: white;
  }
  
  .scroll-text {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .scroll-to-top:hover .scroll-text {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .scroll-to-top:hover .scroll-arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }